*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
    font-size: 12pt;
    background-color: #fff;
  

}
h1 {
    font-size: 180%;
    color: #471c23;
}
h2 { font-size: 130%; margin-top: 1em; color: #9c86b7;}
h3, h4, h5 { font-size: 120%; }
.author{font-size: 13px;padding-left:50px;margin:0px 0px 20px 0px;color:#666;}

#categorylist {
    font-size: 15pt;
padding: 0px 0px 0px 0px;
    text-align: center; 
    
     /***  CSS Gradient  ***/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(107, 72, 73) ),
        color-stop( 1.0, rgb(93, 7, 8) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(107, 72, 73), 
        rgb(93, 7, 8) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(107, 72, 73), 
        rgb(93, 7, 8) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(107, 72, 73), 
        rgb(93, 7, 8) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(107, 72, 73), 
        rgb(93, 7, 8) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(107, 72, 73), 
        rgb(93, 7, 8) );
   
}

#categorylist li {
    list-style: none;
}

#categorylist a {
    padding: 5pt;
    text-decoration: none; 
    color: #fff; 
}
#categorylist a:visited { text-decoration: none; color: #fff; }  
#categorylist a:hover { text-decoration: none; color: #ada3aa; }

div.post {
    margin-left: 200px;
    margin-right: 50px;
    padding: 1em;
}

p { margin: 0.5em 1em 1em 0.5em; }

.home {
    padding: 20px 20px 20px 50px;
    background: #fffff0;
    margin: 0 20px 20px 20px;
    height:auto !important;
    min-height:600px;
}
#connect {
    margin-right: 20px;
}

.hide{color: gray;}
a { text-decoration: none; color: #9c86b7; }
a:visited { text-decoration: none; color: #9c86b7; }  
a:hover { text-decoration: underline; color: #9c86b7; }
a.contents {color: #444; margin:0;}
a.show {color: #ddd;}
.radius {
    border-radius: 20px;
    behavior: url(border-radius.htc);
}
.moz {
    background-image: -moz-linear-gradient(top,#eee,#666);
}
.webkit {
    background-image: -webkit-linear-gradient(top, #eee, #555); 
}

code {
    font-size: 12pt;
    font-family: serif;
    padding: 0em 0.5em 0em 0.5em;
    color: #012345;
}
pre {
    font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif !important;
    padding: 1em;
    color: #fff;
    background-color: #232323;
    border: 1px #232323 solid;
    border-radius: 8px;
}

#related {
    margin-top: 2em;
}
span.total {
    margin-left: 5em;
}
span.date{
    margin-left: 4em;
}
ul {
    margin-left: 2em;
}

.note {
    background-image: url(/images/tip.png);
    background-repeat: no-repeat;
    background-color: #eeefff;
    border: #aaa 1px dotted;
    margin: 1em 3em 1em 3em;
    padding: 0.5em 1em 0.5em 1em;
}

#toc {
    background-color: #fffff0;
    margin: 1em 2em 1em 3em;
    padding: 10px;
    float: right;
    -moz-box-shadow:-10px 10px 10px #aaa;
    -webkit-box-shadow:-10px 10px 10px #aaa;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
#toc a{
    display: block;
}
#toc a[title="H3"] {
    margin-left: 1em;
    font-size: 80%;
}
.hover { 
    text-decoration: underline;
    /* background-image: -webkit-linear-gradient(top, #aaa, #fff); */
    /* background-image: -moz-linear-gradient(top,#aaa,#fff); */
}
#navfoot {
    font-size: 80%;
    text-align: right;
}

/* index page */
#index, #category {
    padding: 50px 50px 50px 200px;
    font-size: 12pt;
}
#banner{
    padding: 0px 0px 0px 0px;
    text-align: center; 
    font-size: 13pt;
}
